.promo {
    min-height: 100vh;
    position: relative;
    background:url("../img/bg3.avif") no-repeat 50%/cover;
    padding-top: 205px;
    
    &__title {
        width:560px;
        margin-top: 10px;
        color:#fff;
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
        padding-left: 11px;
        color:#fff;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color:#fff;
        &:hover {
            color:#fff;
            text-decoration: none;
           
        }

    }
}  