.sidepanel {
    color:#fff;
    background-color:$main-color;
    padding: 3px;
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        height: 150px;
        width: 20px;
        span {
            transform: rotate(-90deg) translate(-30%,-272%);
            display: block;
            width: 150px;
        }
    }
}


